*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 6rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    font-size: 2rem;
}

#user-score,
#comp-score {
    font-size: 4rem;

}

.score-board p {
    text-align: center;
}
 

#msg {
    background-color: #081b31;
    color: white;
    height: 3rem;
    padding: 0.50rem 2rem;
    line-height: 3rem;
    border-radius: 1rem;
    display: inline-block;
    font-size: 1.3rem;
    
}

.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
